# Analysis (Jupyter, etc.)
ipykernel
ipython
jupyter
jupyterlab

# Testing
black
mypy
pylint
pytest
pytest-cov
pytest-pep8
testbook # package used for testing Jupyter Notebooks

# Generating documentation
nbsphinx
pypandoc
recommonmark
Sphinx
sphinx_rtd_theme
myst-parser
myst_nb
jupyter_sphinx
jupytext